.full-site{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    align-self: stretch;
}

.text-inputs{    
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.text-inputs input{
    width: 47%;
    height: 7vh;
    box-sizing: border-box;
    border: 2px solid #D5D4D8;
    border-radius: 5px;
    margin-top: 2%;
    outline: none;
    font-family: 'Karla';        
    font-size: 1.3vw;
    line-height: 7vh;
    padding-left: 3%;
    color: #847f93;

}

.text-inputs input:focus::placeholder{
    color: transparent;
}

#button{
    width: 85%;
    height: 8vh;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
}

.img{
    width: auto;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    margin-top: 3%;    
}

.meme{
    position: relative;
}

.meme h2 {
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bolder;
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#top {
    top: 3%;    
}

#bottom{
    bottom: 3%;    
}