.App{
  width: 60%;
  margin: auto;
  height: 100vh;
}

@media screen and (max-width: 950px) and (min-width: 550px) {
  .App{
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .App{
    width: 100%;
  }
}